{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["@zackad/prettier-plugin-twig", "prettier-plugin-tailwindcss"],
  "twigAlwaysBreakObjects": true,
  "twigMultiTags": [
    "nav,endnav",
    "switch,case,default,endswitch",
    "ifchildren,endifchildren",
    "cache,endcache"
  ]
}
